@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body {
    height: 100%;
}

button {
    color: #10a37f;
    border: 1px solid #10a37f;
    border-radius: 4px;
    padding: 0.5rem;
    line-height: 1.2;
}

button:disabled {
    color: #8e8ea0;
    border: 1px solid #8e8ea0;
}
