.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}

.layout h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.layout h3 {
    margin-bottom: 0.75rem;
    font-size: 2rem;
    font-weight: 500;
}

.layout article > section {
    margin-bottom: 1rem;
}
